@media print {
    *{
        background: transparent;
        border-color: #000;
        box-shadow: none;
        color: #000;
        text-shadow: none;
    }
}

@media screen and (max-width:700px){
    header .container{
    display: flex;
    flex-direction: column;
    }

    .botao{
        margin-top: 10px;
        width: 200px;
    }

}

@media screen and (min-width:1000px){
    .descricao{
        width: 45%;
    }
}
